<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.note.mapper.QxInviteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.note.entity.QxInvite">
        <id column="id" property="id" />
        <result column="version" property="version" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
        <result column="sn" property="sn" />
        <result column="deleted" property="deleted" />
        <result column="inviter" property="inviter" />
        <result column="invitee" property="invitee" />
        <result column="invite_time" property="inviteTime" />
        <result column="invite_type" property="inviteType" />
        <result column="date_type_id" property="dateTypeId" />
        <result column="gift_id" property="giftId" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="district" property="district" />
        <result column="street" property="street" />
        <result column="streetNumber" property="streetNumber" />
        <result column="status" property="status" />
        <result column="invite_way" property="inviteWay" />
        <result column="content" property="content"/>
        <result column="shop" property="shop" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", version AS "version", created_by AS "createdBy", created_time AS "createdTime", updated_by AS "updatedBy", updated_time AS "updatedTime", sn AS "sn", deleted AS "deleted", inviter AS "inviter", invitee AS "invitee", invite_time AS "inviteTime", invite_type AS "inviteType", date_type_id AS "dateTypeId", gift_id AS "giftId", longitude AS "longitude", latitude AS "latitude", province AS "province", city AS "city", district AS "district", street AS "street", streetNumber AS "streetNumber", status AS "status", invite_way AS "inviteWay", content AS "content", shop AS "shop"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.note.model.result.QxInviteResult" parameterType="cn.stylefeng.guns.modular.note.model.params.QxInviteParam">
        select
        <include refid="Base_Column_List"/>
        from qx_invite where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.note.model.params.QxInviteParam">
        select
        <include refid="Base_Column_List"/>
        from qx_invite where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.note.model.result.QxInviteResult" parameterType="cn.stylefeng.guns.modular.note.model.params.QxInviteParam">
        select
        <include refid="Base_Column_List"/>
        from qx_invite where 1 = 1 and deleted = 0
        <if test="paramCondition.sn != null and paramCondition.sn != ''">
        	and sn like CONCAT('%', #{paramCondition.sn}, '%')
        </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.note.model.params.QxInviteParam">
        select
        <include refid="Base_Column_List"/>
        from qx_invite where 1 = 1
    </select>
    
    <select id="getInviteUsers" resultType="cn.stylefeng.guns.modular.note.pojo.QxInviteUserPojo">
		SELECT
			a.invite_id AS inviteId, a.user_id AS userId, a.status, b.mobile 
		FROM
			qx_invite_apply a
		LEFT JOIN
			qx_user b ON a.user_id = b.id 
		WHERE
			a.invite_id = #{inviteId}
    </select>
    
    <select id="search" resultType="cn.stylefeng.guns.modular.note.pojo.QxInviteSearchPojo" parameterType="cn.stylefeng.guns.modular.note.model.params.QxInviteParam">
    	SELECT
    		a.id AS "id", a.created_time AS "createdTime", a.sn AS "sn", a.inviter AS "inviter", a.invitee AS "invitee", a.invite_time AS "inviteTime", a.invite_type AS "inviteType", a.date_type_id AS "dateTypeId", a.gift_id AS "giftId", a.longitude AS "longitude", a.latitude AS "latitude", a.province AS "province", a.city AS "city", a.district AS "district", a.street AS "street", a.streetNumber AS "streetNumber", a.status AS "status", a.invite_way AS "inviteWay", a.content AS "content", a.shop AS "shop",
    		ST_Distance_Sphere ( Point ( ${paramCondition.longitude}, ${paramCondition.latitude} ), Point ( a.longitude, a.latitude ) ) AS distance
    	FROM
    		qx_invite a
    	INNER JOIN
    		qx_user b
    	ON
    		a.inviter = b.id
    	WHERE
    		ST_Contains (ST_MakeEnvelope (Point ( ( ${paramCondition.longitude}+ ( ${paramCondition.inviteRange} / 111 ) ), ( ${paramCondition.latitude}+ ( ${paramCondition.inviteRange} / 111 ) ) ), Point ( ( ${paramCondition.longitude}- ( ${paramCondition.inviteRange} / 111 ) ), ( ${paramCondition.latitude}- ( ${paramCondition.inviteRange} / 111 ) ) ) ), Point ( a.longitude, a.latitude )) and a.content like '%${paramCondition.content}%'
    		AND a.status = '0'
    		AND a.invite_way = '1'
    		<if test="paramCondition.inviteType != null and paramCondition.inviteType !=''">
    		AND a.invite_type = #{paramCondition.inviteType}
    		</if>
    		<if test="paramCondition.dateTypeId != null and paramCondition.dateTypeId !=''">
    		AND a.date_type_id = #{paramCondition.dateTypeId}
    		</if>
    		<if test="paramCondition.sex != null">
    		AND b.sex = #{paramCondition.sex}
    		</if>
    	ORDER BY
    		<choose>
    			<when test="paramCondition.order == 'time'.toString()">
    				a.invite_time
    			</when>
    			<otherwise>
    				distance asc
    			</otherwise>
    		</choose>
    </select>
    
    <!-- TODO DELETE! JUST FOR TEST
    <select id="search" resultType="cn.stylefeng.guns.modular.note.pojo.QxInviteSearchPojo" parameterType="cn.stylefeng.guns.modular.note.model.params.QxInviteParam">
    	SELECT
    		a.id AS "id", a.created_time AS "createdTime", a.sn AS "sn", a.inviter AS "inviter", a.invitee AS "invitee", a.invite_time AS "inviteTime", a.invite_type AS "inviteType", a.date_type_id AS "dateTypeId", a.gift_id AS "giftId", a.longitude AS "longitude", a.latitude AS "latitude", a.province AS "province", a.city AS "city", a.district AS "district", a.street AS "street", a.streetNumber AS "streetNumber", a.status AS "status", a.invite_way AS "inviteWay", a.content AS "content", a.shop AS "shop",
    		ceiling(rand()*500) + 500 AS distance
    	FROM
    		qx_invite a
    	INNER JOIN
    		qx_user b
    	ON
    		a.inviter = b.id
    	WHERE
    		a.content like '%${paramCondition.content}%'
    		AND a.status = '0'
    		<if test="paramCondition.inviteType != null and paramCondition.inviteType !=''">
    		AND a.invite_type = #{paramCondition.inviteType}
    		</if>
    		<if test="paramCondition.dateTypeId != null and paramCondition.dateTypeId !=''">
    		AND a.date_type_id = #{paramCondition.dateTypeId}
    		</if>
    		<if test="paramCondition.sex != null">
    		AND b.sex = #{paramCondition.sex}
    		</if>
    	ORDER BY
    		distance
    </select>
     -->
     
    <select id="getInviteById" resultType="cn.stylefeng.guns.modular.note.pojo.QxInviteSearchPojo" >
    	SELECT
    		a.id AS "id", a.created_time AS "createdTime", a.sn AS "sn", a.inviter AS "inviter", a.invitee AS "invitee", a.invite_time AS "inviteTime", a.invite_type AS "inviteType", a.date_type_id AS "dateTypeId", a.gift_id AS "giftId", a.longitude AS "longitude", a.latitude AS "latitude", a.province AS "province", a.city AS "city", a.district AS "district", a.street AS "street", a.streetNumber AS "streetNumber", a.status AS "status", a.invite_way AS "inviteWay", a.content AS "content", a.shop AS "shop"
    	FROM
    		qx_invite a
    	INNER JOIN
    		qx_user b
    	ON
    		a.inviter = b.id
    	WHERE
    		a.id = #{inviteId}
    </select>
</mapper>
