<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.note.mapper.QxProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.note.entity.QxProduct">
        <id column="id" property="id" />
        <result column="version" property="version" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
        <result column="deleted" property="deleted" />
        <result column="category_id" property="categoryId" />
        <result column="product_name" property="productName" />
        <result column="head_images" property="headImages" />
        <result column="detail_images" property="detailImages" />
        <result column="price" property="price" />
        <result column="stock" property="stock" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", version AS "version", created_by AS "createdBy", created_time AS "createdTime", updated_by AS "updatedBy", updated_time AS "updatedTime", deleted AS "deleted", category_id AS "categoryId", product_name AS "productName", head_images AS "headImages", detail_images AS "detailImages", price AS "price", stock AS "stock"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.note.model.result.QxProductResult" parameterType="cn.stylefeng.guns.modular.note.model.params.QxProductParam">
        select
        <include refid="Base_Column_List"/>
        from qx_product where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.note.model.params.QxProductParam">
        select
        <include refid="Base_Column_List"/>
        from qx_product where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.note.model.result.QxProductResult" parameterType="cn.stylefeng.guns.modular.note.model.params.QxProductParam">
        select a.id AS "id", a.product_name AS "productName", b.name as "categoryName", a.price as "price", a.stock as "stock", a.created_time as "createdTime"
        from qx_product a left join qx_category b on a.category_id = b.id where 1 = 1
        <if test="paramCondition.productName != null and paramCondition.productName !=''">
        	and a.product_name like CONCAT('%', #{paramCondition.productName}, '%')
        </if>
        <if test="paramCondition.categoryId != null and paramCondition.categoryId !=''">
       		and a.category_id = #{paramCondition.categoryId}
        </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.note.model.params.QxProductParam">
        select
        <include refid="Base_Column_List"/>
        from qx_product where 1 = 1
    </select>

</mapper>
