<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.note.mapper.QxUserSocialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.note.entity.QxUserSocial">
        <id column="id" property="id" />
        <result column="version" property="version" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
        <result column="deleted" property="deleted" />
        <result column="user_id" property="userId" />
        <result column="open_id" property="openId" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", version AS "version", created_by AS "createdBy", created_time AS "createdTime", updated_by AS "updatedBy", updated_time AS "updatedTime", deleted AS "deleted", user_id AS "userId", open_id AS "openId", type AS "type"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.note.model.result.QxUserSocialResult" parameterType="cn.stylefeng.guns.modular.note.model.params.QxUserSocialParam">
        select
        <include refid="Base_Column_List"/>
        from qx_user_social where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.note.model.params.QxUserSocialParam">
        select
        <include refid="Base_Column_List"/>
        from qx_user_social where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.note.model.result.QxUserSocialResult" parameterType="cn.stylefeng.guns.modular.note.model.params.QxUserSocialParam">
        select
        <include refid="Base_Column_List"/>
        from qx_user_social where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.note.model.params.QxUserSocialParam">
        select
        <include refid="Base_Column_List"/>
        from qx_user_social where 1 = 1
    </select>

</mapper>
