<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.note.mapper.QxWithdrawLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.note.entity.QxWithdrawLog">
        <id column="id" property="id" />
        <result column="version" property="version" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
        <result column="deleted" property="deleted" />
        <result column="user_id" property="userId" />
        <result column="amount" property="amount" />
        <result column="pay_way" property="payWay" />
        <result column="payee_account" property="payeeAccount" />
        <result column="status" property="status" />
        <result column="sn" property="sn" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", version AS "version", created_by AS "createdBy", created_time AS "createdTime", updated_by AS "updatedBy", updated_time AS "updatedTime", deleted AS "deleted", user_id AS "userId", amount AS "amount", pay_way AS "payWay", payee_account AS "payeeAccount", status AS "status", sn AS "sn"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.note.model.result.QxWithdrawLogResult" parameterType="cn.stylefeng.guns.modular.note.model.params.QxWithdrawLogParam">
        select
        <include refid="Base_Column_List"/>
        from qx_withdraw_log where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.note.model.params.QxWithdrawLogParam">
        select
        <include refid="Base_Column_List"/>
        from qx_withdraw_log where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.note.model.result.QxWithdrawLogResult" parameterType="cn.stylefeng.guns.modular.note.model.params.QxWithdrawLogParam">
        select
        	a.id AS "id", a.created_time AS "createdTime",a.deleted AS "deleted", a.user_id AS "userId", a.amount AS "amount", a.pay_way AS "payWay", a.payee_account AS "payeeAccount", a.status AS "status", a.sn AS "sn", b.nickname as "nickname", b.mobile as "mobile"
        from 
        	qx_withdraw_log a
        left join
        	qx_user b
        	on a.user_id = b.id
        where 1 = 1
        <if test="paramCondition.mobile != null and paramCondition.mobile !=''">
        	and b.mobile like CONCAT('%', #{paramCondition.mobile}, '%')
        </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.note.model.params.QxWithdrawLogParam">
        select
        <include refid="Base_Column_List"/>
        from qx_withdraw_log where 1 = 1
    </select>

</mapper>
